* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:focus {
  outline: 0;
}
textarea:focus, input:focus{
  outline: 0;
}
:focus {
  outline: none !important;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  max-width: 100%;
}
body {
  background-color: #1c1c1c;
}
section {
  height: 100%;
  width: 100%;
  color: azure;
  font-family: "Raleway";
  padding: 0px 30px 0px 30px;
  /* position: relative; */
  /* left: 50px; */
}
#nav-bar {
  background: #181818;
  width: 4%;
  height: 100%;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 10;
  /* smin-height: 500px; */
}
.logo img{
  /* background-image: url(/portfolio/img/logos/logo-black.png); */
  position: absolute;
  width: 100px;
  height: 100px;
  left: -18px;
  cursor: pointer;
}
.nav {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: azure;
  position: relative;
  z-index: 1;
  height: 50vh;

}
#nav-bar #mobile-link {
  display: none;
}
#nav-bar a {
  text-decoration: aliceblue;
  color: #fff;
  font-size: 20px;
  background-size: 30px;
  padding: 0px 5px 25px 5px;
}
#nav-bar a span {
  display: none;
}
#nav-bar a:hover > i {
  display: none;
}
#nav-bar a:hover > span {
  display: block;
  color: #04c2c9;
  font-size: 9px;
  font-weight: 800;
  text-transform: uppercase;
  transition: all 1s;
  font-family: "Raleway";
  margin: 5px;
}
#nav-bar a.active {
  background: linear-gradient(to right, red, yellow);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: border-box;
  background-clip: padding-box;
  background-clip: content-box;
  background-clip: text;
}
#nav-bar ul li {
  list-style: none;
  padding: 0px 5px 15px 5px;
  font-size: 15px;
}
#particles {
  margin: 0px;
  padding: 0px;
  height: 99vh;
}
.highlight {
  color: #e31b6d;
  font-weight: 600;
}
.flex {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: azure;
  z-index: 1;
  font-family: "Raleway";
}
.canvas {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.intro-text {
  font-size: 30pt;
  line-height: 40pt;
  margin: 0 0 20px 0;
  /* top: 35%; */
  align-items: center;
  justify-content: center;
}

.button {
  border: 2px solid #fff;
  box-sizing: inherit;
  cursor: pointer;
  display: inline-block;
  font-size: 15pt;
  padding: 10px 20px;
  transition: all 0.5s;
}
.button:hover {
  background-color: #04c2c9;
  border-color: #04c2c9;
}
.button .far {
  vertical-align: middle;
}
.page-link {
  cursor: pointer;
}
.button:hover > i {
  transform: rotateZ(90deg);
  transition: all 0.4s ease;
}
.heading {
  padding: 20px;
  font-size: 40px;
  color: #04c2c9;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
}
a {
  text-decoration: none;
  color: #04c2c9;
}
.spec-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.spec {
  text-align: center;
  max-width: 250px;
  font-size: 20px;
  padding-bottom: 30px;
}
.spec i {
  padding-bottom: 10px;
  font-size: 50px;
}
.spec .detail {
  font-size: 14px;
  padding-top: 5px;
}

.contact-head {
  font-size: 45px;
  font-family: "Raleway";
  text-transform: uppercase;
  font-weight: 800;
  padding: 40px 20px 20px 40px;
  color: #04c2c9;
}
.form-container {
  position: relative;
  left: 30px;
}
.contact-form {
  padding: 20px 20px 20px 40px;
  font-family: "Raleway";
  max-width: 50vw;
}
input,
textarea {
  background-color: #222525;
  border: 0px;
  padding: 5px;
  padding-left: 10px;
  height: 40px;
  color: aqua;
  width: 250px;
  text-align: start;
  font-family: "Raleway";
  font-size: 15px;
  border-radius: 5px;
}
.form-container p {
  padding-left: 40px;
  font-size: 18px;
  line-height: 25px;
  max-width: 600px;
}
input[id="name"],
input[id="subject"],
textarea[id="message"] {
  margin: 15px 10px 10px 0px;
}
input[id="subject"],
textarea[id="message"] {
  width: 515px;
}
textarea[id="message"] {
  height: 150px;
  resize: none;
  padding: 5px;
  padding-left: 10px;
}
::placeholder {
  color: #fff;
}

#send {
  background-color: #000000;
  border: 0px;
  padding: 5px;
  height: 35px;
  color: aqua;
  width: 70px;
  font-size: 13px;
  border: 2px aqua solid;
  border-radius: 5px;
  margin-top: 20px;
}
#send:hover {
  background-color: aqua;
  color: #000000;
}
#map {
  position: absolute;
  top: 5%;
  right: 2%;
  width: 50vw;
}
#project p {
  text-align: center;
  padding-bottom: 30px;
}
.card-container {
  padding: 20px 0px 20px 40px;
  display: grid;
  justify-content: space-evenly;
}
.card {
  background-color: rgb(37, 34, 34);
  box-sizing: border-box;
  color: #fff;
  width: 250px;
  padding: 10px 3px 10px;
  border-radius: 10px;
  text-align: center;
  z-index: 3;
  transition: transform 0.2s;
  box-shadow: 5px -2px 15px rgb(19, 17, 17);
  border: oldlace 1px solid;
  margin-bottom: 30px;
}
.card:hover {
  box-shadow: 8px -2px 25px rgba(0, 0, 0, 1);
  transform: scale(1.07);
}
.card {
  grid-row: 1;
}
.card .pro-img {
  width: 225px;
  padding-bottom: 10px;
}
.card .tags {
  font-size: 14px;
  font-weight: 700;
  text-align: start;
  padding: 0px 0px 5px 10px;
  color: #c93573;
}
.card .desc {
  height: 40px;
  text-align: center;
}
.card .pro-tool {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 10px 0px;
}
.card .ptool {
  padding: 5px;
  background-color: rgb(59, 57, 57);
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  width: 60px;
  border-radius: 20px;
}
.card .links {
  display: flex;
  justify-content: space-evenly;
}
.card button {
  border: 1px black solid;
  border-radius: 5px;
  background-color: rgb(219, 233, 248);
  width: 115px;
  color: #000000;
  height: 35px;
  cursor: pointer;
}
.card button:disabled:hover {
  cursor: not-allowed;
  box-shadow: none;
}
.card button a {
  text-decoration: none;
  color: #000000;
}
.card button:hover {
  box-shadow: 3px 3px rgb(61, 61, 61);
}
.skills-container {
  display: grid;
  padding: 20px 30px 20px 30px;
  justify-content: space-evenly;
  text-align: center;
}
.skills-container .banner {
  background-color: rgb(29, 27, 27);
  color: #f3f3f3;
  font-family: "Raleway";
  text-transform: uppercase;
  width: 120px;
  height: 300px;
  font-size: 12px;
  font-weight: 700;
  box-shadow: 0 -2px 15px rgba(0, 0, 0, 1);
}
.banner .title {
  font-size: 18px;
  padding-top: 10px;
}
.logo {
  width: 55px;
  font-size: 55px;
}
.set1 {
  grid-column: 1;
}
.set2 {
  grid-column: 2;
}
.set3 {
  grid-column: 3;
}
.set4 {
  grid-column: 4;
}
.set5 {
  grid-column: 5;
}
.set6 {
  grid-column: 6;
}
.skills-container img {
  max-width: 50px;
}
.skills-container .banner ul {
  list-style: none;
  padding: 10px;
}
.skills-container .banner ul li {
  font-size: 12px;
  font-weight: 700;
  padding: 0px 0 12px 0;
  color: #f3f3f3;
  font-family: "Raleway";
  text-transform: uppercase;
}
@media only screen and (max-width: 1200px) {
  .card-container {
    padding: 0px;
  }
  .card:nth-child(3n + 1) {
    grid-column: 1;
    grid-row: auto;
  }
  .card:nth-child(3n + 2) {
    grid-column: 2;
    grid-row: auto;
  }
  .card:nth-child(3n + 3) {
    grid-column: 3;
    grid-row: auto;
  }
}
@media only screen and (min-width: 961px) and (max-width: 1359px) {
  #contact p {
    padding-right: 20px;
  }
  .contact-form {
    padding: 20px 30px 20px 30px;
    max-width: 100%;
  }
  .contact-head {
    padding-top: 20px;
  }
  input[id="name"],
  input[id="email"] {
    width: 40vw;
  }
  input[id="subject"],
  textarea[id="message"] {
    margin: 0 20px 20px 0;
    width: 81vw;
    max-width: 90vw;
  }
  #send {
    left: 0px;
    margin-top: 0px;
  }
  #map {
    position: relative;
    width: 80vw;
    height: 50vw;
    left: 5%;
    top: 10px;
    padding-bottom: 20px;
  }
}
/* Tablets and Smaller Screens */
@media only screen and (max-width: 960px) {
  section {
    padding: 70px 0px 0px 0px;
  }
  #nav-bar {
    flex-direction: row;
    width: 100%;
    height: 40px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    min-height: 0;
  }
  .nav {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: azure;
    position: relative;
    z-index: 1;
    left: 0px;
    width: 50vw;
    height: 45px;
  }
  .logo img{
     position: relative;
     left: 0;
     height: 50px;
     width: 50px;
  }
  #nav-bar a {
    font-size: 16px;
    padding: 0px 20px 3px 0px;
  }
  #nav-bar a:hover,
  ul li:hover {
    color: rgba(7, 180, 215, 1);
    font-size: 1em;
    padding-bottom: 3px;
  }
  #nav-bar ul {
    display: flex;
    flex-direction: row;
  }
  #nav-bar ul li {
    font-size: 16px;
    padding: 5px 10px 5px 7px;
  }
  .heading {
    padding-top: 20px;
    font-size: 30px;
    text-align: center;
  }
  .set1,
  .set4 {
    grid-column: 1;
  }
  .set2,
  .set5 {
    grid-column: 2;
  }
  .set3,
  .set6 {
    grid-column: 3;
  }
  .skills-container {
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 0px 0px 0px;
  }

  .skills-container .banner {
    margin: 0 5px 30px 5px;
  }
  .skills-container .banner ul li {
    display: block;
  }
  .card-container {
    padding: 0px;
  }
  .card:nth-child(odd) {
    grid-column: 1;
    grid-row: auto;
  }
  .card:nth-child(even) {
    grid-column: 2;
    grid-row: auto;
  }
  .form-container {
    left: 0px;
  }
  #contact p {
    padding-right: 20px;
  }
  .contact-form {
    padding: 20px 30px 20px 30px;
    max-width: 100%;
  }
  .contact-head {
    padding-top: 20px;
  }
  input[id="name"],
  input[id="email"],
  input[id="subject"],
  textarea[id="message"] {
    margin: 0 0 20px 0;
    width: 90vw;
    max-width: 90vw;
  }
  #send {
    left: 0px;
    margin-top: 0px;
  }
  #map {
    position: relative;
    width: 90vw;
    height: 90vw;
    left: 5%;
    top: 10px;
    padding-bottom: 20px;
  }
}
/* Phones */
@media only screen and (max-width: 640px) {
  html,body{
    max-width: 100%;
    overflow-x: hidden;
    position:relative;
  }
  section {
    padding: 70px 0px 0px 0px;
    max-width:100%;   
    overflow-x: hidden; 
  }
  #home{
    overflow-x: hidden;
    overflow-y: hidden;
  }
  .logo{
    position: absolute;
  }
  .intro-text {
    font-size: 27pt;
    line-height: 30pt;
    margin: 0 0 20px 0;
  }
  #nav-bar {
    flex-direction: row;
    width: 100%;
    height: 45px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    min-height: 0;
  }
  #nav-bar #mobile-link {
    display: inline-block;
    position: absolute;
    font-size: 30px;
    right: 4vw;
    z-index: 20;
    padding: 10px 0px 0px 0px;
    color: #f3f3f3;
  }
  #nav-bar #mobile-link:hover {
    display: inline-block;
    position: absolute;
    font-size: 30px;
    right: 4vw;
    z-index: 20;
    padding: 10px 0px 0px 0px;
    color: #f3f3f3;
  }
  ul li {
    display: none;
  }
  .nav {
    flex-direction: row;
    top: 45px;
    animation: hide-bar 0.4s ease-in forwards;
    width: 100%;
    left: 100%;
    /* display: none; */
    justify-content: space-evenly;
    background-color: #222525;
  }
  .nav.show {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: azure;
    z-index: 2;
    width: 100%;
    animation: show-bar 0.4s ease-in forwards;
    top: 45px;
    text-align: justify;
    background-color: #222525;
  }
  @keyframes show-bar {
    0% {
      left: 100%;
    }
    100% {
      left: 0vw;
    }
  }
  @keyframes hide-bar {
    0% {
      left: 0vw;
      display: flex;
    }
    100% {
      left: 100%;
      display: none;
    }
  }
  #nav-bar a {
    text-decoration: aliceblue;
    color: #fff;
    font-size: 20px;
    padding: 0px 20px 0px 20px;
    text-align: justify;
  }
  #nav-bar a span {
    display: none;
  }
  #nav-bar a:hover > i {
    display: block;
    font-size: 20px;
    padding: 0px;
  }
  #nav-bar a:hover > span {
    display: none;
  }
  #nav-bar a.active {
    background: linear-gradient(to right, red, yellow);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: border-box;
    background-clip: padding-box;
    background-clip: content-box;
    background-clip: text;
  }

  .heading {
    grid-row: 1;
    padding-top: 20px;
    font-size: 30px;
    text-align: center;
  }
  .set1,
  .set4 {
    grid-column: 1;
  }
  .set2,
  .set5 {
    grid-column: 2;
  }
  .set3,
  .set6 {
    grid-column: 3;
  }
  .skills-container {
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 0px 0px 0px;
  }

  .skills-container .banner {
    margin: 0 5px 30px 5px;
  }
  .skills-container .banner ul li {
    display: block;
  }
  .card-container {
    padding: 0px;
  }
  #project p {
    padding: 0px 15px 30px 15px;
  }
  .card-container {
    padding: 0px;
  }
  .card:nth-child(odd) {
    grid-column: 1;
    grid-row: auto;
  }
  .card:nth-child(even) {
    grid-column: 2;
    grid-row: auto;
  }
}
@media only screen and (max-width: 540px) {
  section {
    padding: 70px 0px 0px 0px;
  }
  html,body{
    max-width: 100%;
    overflow-x: hidden;
  }
  .intro-text {
    font-size: 23pt;
    line-height: 30pt;
    margin: 0 0 20px 0;
  }
  #nav-bar #mobile-link {
    display: inline-block;
    position: absolute;
    font-size: 30px;
    right: 4vw;
    z-index: 20;
    padding: 10px 0px 0px 0px;
    color: #f3f3f3;
  }
  .set1,
  .set3,
  .set5 {
    grid-column: 1;
  }
  .set2,
  .set4,
  .set6 {
    grid-column: 2;
  }
  .skills-container {
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 0px 0px 0px;
  }
  .skills-container .banner {
    margin: 0 5px 30px 5px;
  }
  .skills-container .banner ul li {
    display: block;
  }
  .card-container {
    padding: 0px;
  }
  .card:nth-child(odd) {
    grid-column: 1;
    grid-row: auto;
  }
  .card:nth-child(even) {
    grid-column: 1;
    grid-row: auto;
  }
  #project p {
    padding: 0px 15px 30px 15px;
  }
}

@media only screen and (max-width: 460px) {
  html,body{
    max-width: 100%;
    overflow-x: hidden;
  }
  section{
    max-width: 100%;
    overflow-x: hidden;
  }
  .intro-text {
    font-size: 20pt;
    line-height: 30pt;
    margin: 0 0 20px 0;
    text-align: left;
    padding-left: 30px;
  }
  #nav-bar #mobile-link {
    display: inline-block;
    position: absolute;
    font-size: 30px;
    right: 4vw;
    z-index: 20;
    padding: 10px 0px 0px 0px;
    color: #f3f3f3;
  }
}
 

/* Intro Animations */
.mask-2.cd-intro-content * {  
  opacity: 1;
}
.mask-2.cd-intro-content{
  position: relative;
  top:30%
}
.mask-2.cd-intro-content .content-wrapper {
  position: relative;
  width: 100%;
  max-width: 650px;
  margin: 0 auto;
  padding: 2em 0;  
  overflow: hidden;
}
.mask-2.cd-intro-content .content-wrapper::before {
  /* vertical bar */
  content: '';
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  height: 100%;
  width: 2px;
  background-color: #ffffff;
  -webkit-animation: cd-pulse 1.3s 0.3s both;
  -moz-animation: cd-pulse 1.3s 0.3s both;
  animation: cd-pulse 1.3s 0.3s both;
}
.no-cssanimations .mask-2.cd-intro-content .content-wrapper::before {
  opacity: 0;
}
.mask-2.cd-intro-content .content-wrapper > div {
  /* wrap the entire content */
  position: relative;
  z-index: 1;
}

.mask-2.cd-intro-content .content-wrapper,
.mask-2.cd-intro-content .content-wrapper > div {
  -webkit-animation-duration: 0.5s;
  -moz-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-delay: 1.1s;
  -moz-animation-delay: 1.1s;
  animation-delay: 1.1s;
  -webkit-animation-fill-mode: backwards;
  -moz-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
}

.mask-2.cd-intro-content .content-wrapper {
  -webkit-animation-name: cd-mask-wrapper;
  -moz-animation-name: cd-mask-wrapper;
  animation-name: cd-mask-wrapper;
}

.mask-2.cd-intro-content .content-wrapper > div {
  -webkit-animation-name: cd-mask-content;
  -moz-animation-name: cd-mask-content;
  animation-name: cd-mask-content;
}

@-webkit-keyframes cd-mask-wrapper {
  0% {
    -webkit-transform: translateX(50%);
  }
  100% {
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes cd-mask-wrapper {
  0% {
    -moz-transform: translateX(50%);
  }
  100% {
    -moz-transform: translateX(0);
  }
}
@keyframes cd-mask-wrapper {
  0% {
    -webkit-transform: translateX(50%);
    -moz-transform: translateX(50%);
    -ms-transform: translateX(50%);
    -o-transform: translateX(50%);
    transform: translateX(50%);
  }
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes cd-mask-content {
  0% {
    -webkit-transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes cd-mask-content {
  0% {
    -moz-transform: translateX(-100%);
  }
  100% {
    -moz-transform: translateX(0);
  }
}
@keyframes cd-mask-content {
  0% {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes cd-pulse {
  0%, 30.8% {
    opacity: 0;
  }
  15.4%, 46.2%, 61.5%, 70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes cd-pulse {
  0%, 30.8% {
    opacity: 0;
  }
  15.4%, 46.2%, 61.5%, 70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes cd-pulse {
  0%, 30.8% {
    opacity: 0;
  }
  15.4%, 46.2%, 61.5%, 70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* Loader Animations */
#loader-wrapper {
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:1000;
}
#loader {
  display:block;
  position: relative;
  top:50%;
  left:50%;
  width:150px;
  height:150px;
  margin:-75px 0 0 -75px;
  border:3px solid transparent;
  border-top-color:white;
  border-radius:100%;
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
  z-index:1001;
}
#loader:before {
  content:"";
  position: absolute;
  top:5px;
  left:5px;
  right:5px;
  bottom:5px;
  border:3px solid transparent;
  border-top-color: yellow;
  border-radius:100%;
  -webkit-animation: spin 3s linear infinite;
          animation: spin 3s linear infinite;
}
#loader:after {
  content:"";
  position: absolute;
  top:12px;
  left:12px;
  right:12px;
  bottom:12px;
  border:3px solid transparent;
  border-top-color:orange;
  border-radius:100%;
  -webkit-animation: spin 1.5s linear infinite;
          animation: spin 1.5s linear infinite;
}
@-webkit-keyframes spin {
  0%   { 
    -webkit-transform: rotate(0deg); 
      -ms-transform: rotate(0deg); 
          transform: rotate(0deg);
  }
  100% { 
    -webkit-transform: rotate(360deg); 
      -ms-transform: rotate(360deg); 
          transform: rotate(360deg);
  }
}
@keyframes spin {
  0%   { 
    -webkit-transform: rotate(0deg); 
      -ms-transform: rotate(0deg); 
          transform: rotate(0deg);
  }
  100% { 
    -webkit-transform: rotate(360deg); 
      -ms-transform: rotate(360deg); 
          transform: rotate(360deg);
  }
}

#loader-wrapper .loader-section {
  position:fixed;
  top:0;
  background:#333;
  width:51%;
  height:100%;
  z-index:1000;
}

#loader-wrapper .loader-section.section-left {
  left:0
}
#loader-wrapper .loader-section.section-right {
  right:0;
}

/* Loaded Styles */
.loaded #loader-wrapper .loader-section.section-left {
  transform: translateX(-100%);
  transition: all 0.7s 0.3s cubic-bezier(0.645,0.045,0.355,1.000);
}
.loaded #loader-wrapper .loader-section.section-right {
  transform: translateX(100%);
  transition: all 0.7s 0.3s cubic-bezier(0.645,0.045,0.355,1.000);
}
.loaded #loader {
  opacity: 0;
  transition: all 0.3s ease-out;
}
.loaded #loader-wrapper {
  visibility: hidden;
  transform:translateY(-100%);
  transition: all 0.3s 1s ease-out;
}